@model response



<form method="post" enctype="multipart/form-data" asp-controller="Issue" asp-action="Post">
    <div class="form-group">
        <div class="col-md-10">
            <div class="col-md-10">
                <label>Upload status: @Model.answer</label>
            </div>
            <input type="file" name="files" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
        <input type="submit" value="upload" />
    </div>
</form>

